<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div id="sidebar" class="sidebar">
    <h2>Dashboard</h2>
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="./students.html">Students</a></li>
      <li><a href="#">Add Student</a></li>
    </ul>
  </div>

  <div class="main-content">
    <nav class="navbar">
      <h1>Add studetns here ❕ </h1>
    </nav>

    <div class="content">
      <h2>Welcome to the Dashboard</h2>
      <form id="addStudentForm">
        <input type="text" id="name" placeholder="Name" required />
        <input type="email" id="email" placeholder="Email" required />
        <input type="text" id="whatsappNumber" placeholder="WhatsApp Number" required />
        <input type="text" id="address" placeholder="Address" required />
        <input type="text" id="aadharNumber" placeholder="Aadhar Number" required />
        <input type="number" id="campusNumber" placeholder="Campus Number" required />
        <input type="number" id="seatNumber" placeholder="Seat Number" required />
        <input type="file" id="profilePic" accept="image/*" />
        <button type="submit">Add Student</button>
      </form>
    </div>
  </div>

  <script src="../js/script.js"></script>
</body>
</html>
